@charset "utf-8";

$color-text     : #5a5333;
$color-text-sub : lighten(#5a5333 , 10%);
$color-border   : darken(#fff , 5%);
$color-white : #fff;

@mixin gradient-v ( $top , $bottom ){
   background: $top; /* Old browsers */
   background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
   background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
}


//reset
//----------------------------------------------------------------
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
   display: block; }

body {
   line-height: 1; }

ol, ul {
   list-style: none; }

blockquote, q {
   quotes: none; }

blockquote {
   &:before, &:after {
      content: '';
      content: none; } }

q {
   &:before, &:after {
      content: '';
      content: none; } }

table {
   border-collapse: collapse;
   border-spacing: 0; }


//==========================================================================
//   reset / helper
//==========================================================================
strong{
   font-weight: bold;
}

select{
   font-size: 22rem;
}

input[type="text"]{
   border:0;
   padding: 0.2em;
   font-size: 13rem;
   border:solid 1px darken($color-border , 5%);
}
input[disabled]{
   opacity: 0.5;
   height: 26px;
}

textarea{
   padding: 0.5em;
   border:solid 1px darken($color-border , 5%);
}

.left{
   text-align: left;
}

//==========================================================================
//   bass
//==========================================================================
html{
   font-size: 6.25%;
   font-family: 'Lato';
   color: $color-text;
   line-height: 1.5;

   @include gradient-v( #ffe99c , #ffb99c);

}
body{
   font-size: 16rem;
   &:after{
      content:'';
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      @include gradient-v( #ffe99c , #ffb99c);
   }
}


// structure
//----------------------------------------
body{
   min-width : 100%;
   min-height: 100%;
}

.viewport{
   -webkit-transition: all .6s ease;
      -moz-transition: all .6s ease;
       -ms-transition: all .6s ease;
        -o-transition: all .6s ease;
           transition: all .6s ease;
   z-index: 10;
   position: relative;
   -webkit-transform-origin: top center;
      -moz-transform-origin: top center;
       -ms-transform-origin: top center;
        -o-transform-origin: top center;
           transform-origin: top center;
}


// styles
//----------------------------------------

#footer{
   text-align: center;
   small{
      padding:  4em;
   }

}


//-----------------------------------------
.wrapper{
   max-width: 800px;
   margin: auto;
   padding: 0 2em;
}

.main-section{
   width: 100%;
   height: 850px;
   text-align: center;
   -webkit-background-size: cover;
           background-size: cover;

   &__title{
      padding-top: 0.8em;
      font-weight: 100;
      font-size: 100rem;
   }
   &__text{
      font-size: 14rem;
      margin-top: 1em;

   }

   &__main-visual{
      width: 900px;
      height: 470px;
      margin:auto;
      position: relative;
      z-index: 50;
      &__item{
         position: absolute;

         .df-content{ height: 100%;}

         &__screen{
            @include gradient-v( #ffe99c , #ffb99c);
            width: 100%;
            height: 100%;
         }
      }
   }
   &__btn{
      position: relative;
      z-index: 10;
      margin-top: 20px;
      display: inline-block;
      padding: 0.8em 1.5em;
      border: 2px solid rgba($color-text , .8);
      font-size: 24rem;
      font-weight: 300;
      text-decoration: none;
      color: $color-text;
      -webkit-transition: all .2s ease;
         -moz-transition: all .2s ease;
          -ms-transition: all .2s ease;
           -o-transition: all .2s ease;
              transition: all .2s ease;
      span{
         vertical-align: top;
      }
      small{

         font-size: 18rem;
      }
      i{
         padding-right: 0.2em;
      }

      &:hover{
         color: white;
         background-color: rgba( $color-text , 1);
         border: 2px solid rgba( $color-text , 1);
      }
   }
}

.section{
   width: 100%;
   padding-top   : 3em;
   padding-bottom: 3em;
   text-align: center;
   &__title{
      font-size: 60rem;
      font-weight: 100;
      margin-bottom: 1em;
   }
   &__text{
      font-size: 16rem;
      margin-top: 3em;
      line-height: 1.5;
   }
}

.sub-section{

   &__title{
      font-size: 20rem;
      margin: 1em;
   }
}

.table-basic{
   $table-border: #ffb99c;
   width: 100%;
   font-size: 14rem;
   text-align: center;
   border-left: 2px solid $table-border;
   border-top: 2px solid $table-border;
   tr{
      th{
         border-right : 2px solid $table-border;
         border-bottom: 2px solid $table-border;
         padding: 0.5em 1em;
         vertical-align: middle;
      }
      td{
         border-right : 2px solid $table-border;
         border-bottom: 2px solid $table-border;
         padding: 0.5em 1em;
         vertical-align: middle;
      }
   }
   thead{
      tr{
         background-color: rgba( $color-text , 1);
         color : $color-white;
         th{}
         td{}
      }
   }
   tbody{
      tr{
         background-color: rgba( white , .5);
         th{
            background-color: rgba( $color-text , .08);
         }
         td{}
      }
   }
}

.section.section--generator{
   background-color: rgba(lighten( #ffe99c , 10%) , .5);
}

.generator{
   margin-top: 3em;
   margin-bottom: 3em;
   text-align: center;

   .generator__form__table{
      margin: 10px auto;
      tr{
         th,td{
            padding: 0.1em 0.5em;

         }
      }
   }

   .generator__preview{
      overflow-x:hidden;
      margin: auto;
      -webkit-transition: all .3s ease;
         -moz-transition: all .3s ease;
          -ms-transition: all .3s ease;
           -o-transition: all .3s ease;
              transition: all .3s ease;
      .generator__preview__target{
         margin: 20px auto;
      }
   }
}

// syntax
//----------------------------------------
.syntaxhighlighter{
   .toolbar{
      display: none;
   }
   -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
       -ms-border-radius: 4px;
        -o-border-radius: 4px;
           border-radius: 4px;

   font-size: 20rem!important;

   *{
      font-size: 18rem!important;
   }

   background-color: darken($color-text , 10%)!important;

   .gutter{
      background-color: darken($color-text , 10%)!important;
         .line {
            border-right: 3px solid darken($color-text , 10%)!important;
         }
         .line.alt1{
            background-color: rgba(black ,.2)!important;
            border-right: 3px solid darken($color-text , 10%)!important;
         }
         .line.alt2{
            background-color: rgba(black ,.1)!important;
            border-right: 3px solid darken($color-text , 10%)!important;
         }
         .line.highlighted{
            border-right: 3px solid darken($color-white , 20%)!important;
         }
         .line.highlighted.alt1,
         .line.highlighted.alt2 {
            color: $color-white!important;
            background-color: darken($color-text , 0%)!important;
         }

   }
   .code{
      background-color: darken($color-text , 10%)!important;

      .container{
         background-color: darken($color-text , 10%)!important;
         .line.alt1{
            background-color: rgba(black ,.2)!important;
         }
         .line.alt2{
            background-color: rgba(black ,.1)!important;
         }
         .line.highlighted.alt1,
         .line.highlighted.alt2 {
            background-color: darken($color-text , 0%)!important;
         }
      }
   }


}